<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethigeek.medipal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ethigeek.medipal.activities.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ethigeek.medipal.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ethigeek.medipal.activities.AddOrUpdateMedicineActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />

        <activity
            android:name="com.ethigeek.medipal.activities.AddNewAppointmentActivity"
            android:label="New Appointment"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.EditAppointmentActivity"
            android:label="Edit Appointment Details"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.ShowAppointmentActivity"
            android:label="Appointment Information"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.PersonalBioActivity"
            android:label="@string/title_activity_add_personalBio"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ethigeek.medipal.activities.AddOrUpdateCategoryActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.ShowMedicineActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity">
        </activity>
        <activity
            android:name="com.ethigeek.medipal.activities.AddMeasurementActivity"
            android:label="@string/title_activity_add_measurement"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />

        <service
            android:name="com.ethigeek.medipal.utils.MedicineReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.ethigeek.medipal.utils.MedicineConsumptionReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.ethigeek.medipal.utils.AppointmentReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.ethigeek.medipal.utils.AppointmentReminderNotificationJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.ethigeek.medipal.activities.AddOrUpdateHealthBioActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.AddOrUpdateConsumptionActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity
            android:name="com.ethigeek.medipal.activities.ICEAdditionActivity"
            android:parentActivityName="com.ethigeek.medipal.activities.MainActivity" />
        <activity android:name="com.ethigeek.medipal.activities.HelpActivity"
            android:theme="@style/AppTheme.Help"/>
    </application>

</manifest>