<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.iss.se.ft05.medipal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AddOrUpdateMedicine"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AddNewAppointment"
            android:label="New Appointment"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.EditAppointment"
            android:label="Edit Appointment Details"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ShowAppointment"
            android:label="Appointment Information"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.PersonalBioActivity"
            android:label="@string/title_activity_add_personalBio"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddOrUpdateCategory"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ShowMedicine"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.AddMeasurement"
            android:label="@string/title_activity_add_measurement"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.DisplayMeasurement"
            android:label="@string/title_activity_display_measurement"
            android:parentActivityName=".activities.MainActivity" />

        <service
            android:name=".Util.MedicineReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Util.MedicineConsumptionReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Util.AppointmentReminderJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Util.AppointmentReminderNotificationJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.AddOrUpdateHealthBioActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddOrUpdateConsumption"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ICEAdditionActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.HelpActivity"
            android:theme="@style/AppTheme.Help"/>
    </application>

</manifest>